.grid {
  box-sizing: border-box;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.grid.ng-leave {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
.grid.ng-leave.ng-leave-active {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}
.grid.ng-enter {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
  -webkit-transform: scale(0.5);
   transform: scale(0.5);
  opacity: 0;
}
.grid.ng-enter.ng-enter-active {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}