$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bootstrap variables
@import "variables";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Font Import
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

* {
    margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  padding-top: 50px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
}


.brand {
  color: $brand-primary;
  font-weight: 700;
  letter-spacing: 1rem;
}

// stays @ the bottom of the page at all time but not fixed 


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}  

  
