$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts/";

//css tranistions, needs to be above so id doesn't overwrite bootstrap styles
@import "transitions";

// bootstrap variables
@import "variables";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

// Font Import
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);



html {
  position: relative;
  min-height: 100%;
  
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  background-image: url('../images/light_wool.png');
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 55px;
  /* Set the fixed height of the footer here */
  height: 100px;
}

ul { padding-left: 1.2em; }

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* angular grid --------------------------------------------------------- */


.dynamic-grid {
  position: relative;
  display: none;
}
.dynamic-grid.angular-grid {
  display: block;
}
.grid {
  box-sizing: border-box;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.grid.ng-leave {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
.grid.ng-leave.ng-leave-active {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}
.grid.ng-enter {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
  -webkit-transform: scale(0.5);
   transform: scale(0.5);
  opacity: 0;
}
.grid.ng-enter.ng-enter-active {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* --------------------------------------------------------- */

.brand {
  color: $brand-primary;
  font-weight: 700;
  letter-spacing: 1rem;
  padding-top: 3.3rem;
  padding-left: 2rem;
}

.brand2 {
  color: $brand-primary;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 1rem;
  padding-left: 2rem;
}

.blinkPage {
  margin-top: 25vh;
  border-bottom-style: none;
}

.page {
  margin-top: 2rem;
  border-bottom-style: none;
  margin-bottom: 0;
}

.thumbnail {
  position: relative;
  .label {
    position: absolute;
    left: -5px;
    top: -5px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 6px #000000;
    padding: 1rem 1.2rem 1rem 1rem;
  }
}

.label-important {
    background-color: none;
}

.glybottom {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Responsive: Portrait tablets and up  */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 980px;
  }
}  

@media screen and (max-width: 650px) {
  .brand2 {
    font-size: 3.5rem;
    padding-top: 1rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .brand2 {
    font-size: 1.7rem;
    padding-top: 2.2rem;
    padding-left: 2rem;
  }
}  


@media screen and (max-height: 500px) {
  .blinkPage {
    margin-top: 15vh;
  }
}   
  
