<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>COOKBRITE</title>
    <meta name="get recipe ideas" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="cookbriteApp" ng-controller="MainCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-class="headerSpacing">
        <div class="text-uppercase col-xs-7" ng-class="logo">CookBrite</div>
        <div class="col-xs-5 list-inline small text-right glybottom">
          <li class="text-center" uib-popover="{{popSearch.content}}" popover-title="{{popSearch.title}}" popover-trigger="mouseenter" popover-placement="auto bottom"><span class="glyphicon glyphicon-question-sign"></span><br>Tips</li>
          <li class="text-center"><a herf ng-href="#/save" ng-if="storage.savedRecipes.length > 0"><span class="glyphicon glyphicon-heart"></span><br>Recipes</a></li>
        </div>
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <label for="ingredient search" class="sr-only">recipe search by ingredient or name</label>
            <input id="searchInput" class="form-control" type="search" name="ingredient" ng-model="ingredient" placeholder="search by ingredient(s) or name" ng-keypress="isEnterKey($event)">
            <span class="input-group-btn">
              <button tabindex="0" class="btn btn-default" type="button" ng-click="getRecipes()">GO</button>
            </span>
          </div>
          <p class="text-right small">powered by edamam</p>
        </div>
    </div>  
    <section ng-view class="container-fluid"></section>  
    <footer class="footer">
      <p class="small text-muted text-center">SU WATS 2000 Spring 2016. 
      Fab with <span class="glyphicon glyphicon-heart"></span> Sunny Yuen.  Get Involved <a href ng-href="https://github.com/yuens1002/cookbrite" target="_blank"><i class="fa fa-code-fork" aria-hidden="true"></i></a> Fork It.</p>
    </footer>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angulargrid/angulargrid.js"></script>
    <script src="bower_components/angular-fontawesome/dist/angular-fontawesome.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/recipes.js"></script>
        <script src="scripts/controllers/save.js"></script>
        <!-- endbuild -->
</body>
</html>
