<div ng-app class="jumbotron" ng-controller="MainCtrl">
 <h1>Recipe Search</h1>
  <p class="lead">
    <div ng-init="ingredient='tofu salad'">
        <p>
          <label for="ingredient">Type in an ingredient or name<br>
            <input type="text" name="ingredient" ng-model="ingredient">
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshRecipes()">Get Receipes</button>
        </p>
      <dl>
        <dt>Recipes Found: {{recipes.count}}</dt>
        <p>
        <dt><img ng-src="{{recipes.hits[0].recipe.image}}"></img></dt>
        <dt>{{recipes.hits[0].recipe.label}}</dt>
      <p>
        
        <dt>Source: <img ng-src="{{recipes.hits[0].recipe.sourceIcon}}"> <a herf="{{recipes.hits[0].recipe.url}}" target="_blank">{{recipes.hits[0].recipe.source}}</a></dt>
        <dt>Diet(s): <span class="" ng-repeat='dietLabel in recipes.hits[0].recipe.dietLabels'><span class="small">({{$index + 1}})</span> {{dietLabel}} </span></dt>
        <dt>Health Labels(s): {{recipes.hits[0].recipe.healthLabels}}</dt>
        <dt>Calories: {{recipes.hits[0].recipe.calories}}</dt>
        <dt>Number of Ingredients: {{recipes.hits[0].recipe.ingredientLines.length}}<br><label>Show Ingredient List:
    <input type="checkbox" ng-model="checked">
  </label></dt>
        <li class="check-element animate-show" ng-show='checked' ng-repeat="listIngredient in recipes.hits[0].recipe.ingredientLines">{{listIngredient}}</li>
        
      </dl>
    </div>
  </p>
</div>